<ion-content class="backgroundC">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button class="button" (click)="accessMenu()">
          <ion-icon name="arrow-undo-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Calendário</ion-title>
      <ion-buttons slot="end">
        <ion-button class="button" (click)="alertaInfo()">
          <ion-icon slot="icon-only" name="help-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <h1 class="centered-text">O que podemos fazer aqui?</h1>

  <div class="button-group">
    <ion-button class="menu-button white-button" (click)="accessCalendario()">Calendário</ion-button>
    <ion-button class="menu-button white-button" (click)="alertaPaginaAtual()">Lembretes</ion-button>
  </div>

  <div class="menu-section">
    <h2 class="menu-title">Sumário Lembretes</h2>
    <p class="menu-description">
      Nesta página serão abordados os seguintes tópicos: <br></p>
    <p class="sumary">
      1. Criando Lembretes<br>
      2. Excluindo Lembretes<br>
      3. Editando Lembretes<br>
    </p>
  </div>

  <div class="menu-section">
    <h2 class="menu-title">1 - Criando Lembretes</h2>
    <p class="menu-description">
      Existem várias maneiras de se criar um lembrete, aqui iremos mostrar 3 caminhos.
    </p>
    <p class="menu-subtitle">
      Botão "Mais"
    </p>
    <img src="/assets/calendario/MaisCalendario.jpg" alt="Imagens" class="menu-image">
    <p class="menu-description">
      Clicando no botão "Mais" no canto inferior direito da tela.
    </p>
    <p class="menu-subtitle">
      Barra Inferior
    </p>
    <img src="/assets/calendario/BarraLembrete.jpg" alt="Imagens" class="menu-image">
    <p class="menu-description">
      Clicando no barra de lembretes no inferior da tela.
    </p>
    <p class="menu-subtitle">
      Toque Duplo na Data
    </p>
    <img src="/assets/calendario/ToqueDuplo.jpg" alt="Imagens" class="menu-image">
    <p class="menu-description">
      Clicando duas vezes na data desejada para criar o lembrete. Na imagem a seguir, estamos usando o dia 28 de Junho
      como exemplo.<br>
    </p>

    <p class="menu-subtitle">
      Tela de Lembrete
    </p>
    <p class="menu-description">
      Abrindo a tela de lembretes, você pode configurá-lo da maneira que desejar, adicionando um título (A), escolhendo
      o período do lembrete (B), local (C) e a hora da notificação do evento (D).<br>
    </p>
    <img src="/assets/calendario/Tela_Lembrete.jpg" alt="Imagens" class="menu-image">
    <img src="/assets/calendario/SalvarLembrete.jpg" alt="Imagens" class="menu-image">
    <p class="menu-description">
      Após editar o lembrete como desejar, basta clicar em "Salvar" e seu lembrete estará pronto.
    </p>

  </div>

  <div class="menu-section">
    <h2 class="menu-title">2 - Excluindo Lembretes</h2>
    <p class="menu-description">
      Para apagar um lembrete, basta abrir o menu lateral e selecinar o menu "Lembretes".
    </p>
    <img src="/assets/calendario/AbaLembretes.jpg" alt="Imagens" class="menu-image">
    <p class="menu-description">
      Após acessar o menu, procure o lembrete na sua respectiva data e mantenha o dedo pressionado nele. Em seguida,
      abrirá um menu lateral, onde basta selecionar a opção "Excluir".
    </p>
    <img src="/assets/calendario/ExcluirLembrete.jpg" alt="Imagens" class="menu-image">
    <img src="/assets/calendario/LixeiraLembrete.jpg" alt="Imagens" class="menu-image">
    <p class="menu-description">
      Agora, clique em "Mover para lixeira" e seu lembrete será excluido do seu calendário.
    </p>
  </div>

  <div class="menu-section">
    <h2 class="menu-title">3 - Editando Lembretes</h2>
    <p class="menu-description">
      Para editar um lembrete, basta abrir o menu lateral e selecinar o menu "Lembretes".
    </p>
    <img src="/assets/calendario/AbaLembretes.jpg" alt="Imagens" class="menu-image">
    <p class="menu-description">
      Após acessar o menu, procure o lembrete na sua respectiva data e mantenha o dedo pressionado nele. Em seguida,
      abrirá um menu lateral, onde basta selecionar a opção "Editar".
    </p>
    <img src="/assets/calendario/EditarLembrete.jpg" alt="Imagens" class="menu-image">
  </div>

  <div class="bottom-button">
    <ion-button class="next-button" (click)="accessCalendario()">Calendário
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>