*{
  font-family: 'Helvetica', sans-serif;
}

ion-content {
  --background: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza horizontalmente os elementos filhos */
  align-items: center; /* Opcional: alinha os elementos ao centro verticalmente */
  }
  
  ion-toolbar {
  --background: #054b41;
  --color: white;
  height: 60px;
  display: flex;
  align-items: center;
  }
  
  .button {
  --background: #054b41;
  --background-activated: #054b41;
  --color: white;
  }
  
  .centered-text1 {
  color: #000000;
  font-size: 2rem;
  text-align: center; // Centraliza o texto horizontalmente
  margin-top: 6vh;
  }
  
  .centered-text2 {
  color: #000000;
  font-size: 1.5rem;
  text-align: center; // Centraliza o texto horizontalmente
  margin-top: 5vh;
  }
  
  .img-container {
  display: flex;
  justify-content: center; // Centraliza horizontalmente
  gap: 1rem; // Espaço entre as imagens
  margin-top: 3.5rem; // Espaço acima das imagens
  }
  
  .image-wrapper {
  display: flex;
  flex-direction: column; // Organiza imagem e botão em uma coluna
  align-items: center; // Centraliza horizontalmente
  }
  
  .image-item {
  width: 170px; // Ajuste a largura da imagem conforme necessário
  height: 280px; // Define uma altura fixa para garantir que ambas as imagens tenham a mesma altura
  object-fit: cover; // Cobre o contêiner mantendo a proporção
  border-radius: 10px; // Bordas arredondadas
  }
  
  .centered-buttonP {
  --background: #000000;
  --background-activated: #000000;
  border-radius: 20px;
  color: white;
  margin-top: 1rem; // Espaçamento acima do botão
  }
  
  .centered-buttonS {
  --background: #A4C639;
  --background-activated: #A4C639;
  border-radius: 20px;
  color: white;
  margin-top: 1rem; // Espaçamento acima do botão
  }
  