<ion-content class="backgroundG">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button class="button" (click)="accessImagens()">
          <ion-icon name="arrow-undo-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Galeria</ion-title>
      <ion-buttons slot="end">
        <ion-button class="button" (click)="alertaInfo()">
          <ion-icon slot="icon-only" name="help-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <h1 class="centered-text">O que podemos fazer aqui?</h1>

  <div class="button-group">
    <ion-button class="menu-button white-button" (click)="accessImagens()">Imagens</ion-button>
    <ion-button class="menu-button white-button" (click)="alertaPaginaAtual()">Álbuns</ion-button>
  </div>

  <div class="menu-section">
    <h2 class="menu-title">Sumário Álbuns</h2>
    <p class="menu-description">
      Nesta página serão abordados os seguintes tópicos: <br></p>
    <p class="sumary">
      1. Álbuns<br>
      2. Criando Álbuns<br>
      3. Álbuns Essenciais<br>
      4. Ver tudo<br>
      5. Selecionando e Excluindo Álbuns<br>
    </p>
  </div>

  <div class="menu-section">
    <h2 class="menu-title">1 - Álbuns</h2>
    <img src="/assets/galeria/1_Album.jpg" alt="Imagens" class="menu-image">
    <p class="menu-description">
      Ao acessar o menu de "Álbuns", no centro da tela você poderá visualizar todos os álbuns criados no seu
      celular.<br>
      Álbuns foram criados para facilitar a organização de fotos e vídeos do seu celular.
    </p>
  </div>

  <div class="menu-section">
    <h2 class="menu-title">2 - Criando Álbuns</h2>
    <p class="menu-description">
      Para criar um álbum, basta clicar no ícone "Mais" no canto superior direito da tela.
    </p>
    <img src="/assets/galeria/3_1_1AlbunsMenu.jpg" alt="Imagens" class="menu-image">
    <p class="menu-description">
      Agora selecione o primeiro menu chamado "Álbum".
    </p>
    <img src="/assets/galeria/3_1_2CriaAlbum.jpg" alt="Imagens" class="menu-image">
  </div>

  <div class="menu-section">
    <h2 class="menu-title">3 - Álbuns Essenciais</h2>
    <p class="menu-description">
      Álbuns Essenciais são álbuns selecionados para serem exibidos no menu inicial de Álbuns. Para definir ou retirar
      um álbum como Essencial, basta clicar no menu "Três Pontinhos".
    </p>
    <img src="/assets/galeria/3_2_1AlbunsMenu.jpg" alt="Imagens" class="menu-image">
    <p class="menu-description">
      Em seguida "Selecionar álbuns essenciais".
    </p>
    <img src="/assets/galeria/3_2_2EssenciaisAlb.jpg" alt="Imagens" class="menu-image">
    <p class="menu-description">
      Em seguida, basta selecionar os álbuns que deseja definir ou remover dos essenciais e clicar em "Concluído".
    </p>
    <img src="/assets/galeria/3_2_3ConcluAlbum.jpg" alt="Imagens" class="menu-image">
  </div>

  <div class="menu-section">
    <h2 class="menu-title">4 - Ver tudo</h2>
    <p class="menu-description">
      No menu de álbuns, clique no botão "Ver Tudo" para visualizar todos os álbuns do aparelho e suas respectivas
      fotos.
    </p>
    <img src="/assets/galeria/3_3VerTudo.jpg" alt="Imagens" class="menu-image">
  </div>

  <div class="menu-section">
    <h2 class="menu-title">5 - Selecionando e Excluindo Álbuns</h2>
    <img src="/assets/galeria/3_4ExcluiAlbum.jpg" alt="Imagens" class="menu-image">
    <p class="menu-description">
      Para selecionar um álbum, basta manter o dedo precionado no álbum de sua escolha. Após ser selecionado, clique na
      opção "Excluir".<br>
    </p>

    <img src="/assets/galeria/3_4_1LixeiraAlbum.jpg" alt="Imagens" class="menu-image">
    <p class="menu-description">
      Basta selecionar a opção "Mover para a Lixeira" e o álbum será excluído automaticamente após 30 dias.
    </p>
  </div>

  <div class="bottom-button">
    <ion-button class="next-button" (click)="accessImagens()">Imagens
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>