*{
  font-family: 'Helvetica', sans-serif;
}

ion-content.backgroundG {
  --background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
  padding: 1rem;
  background: linear-gradient(to bottom, #ff5252, #ffffff);
}

ion-toolbar {
  --background: #ce4b4b;
  --color: white;
  height: 60px;
  display: flex;
  align-items: center;
}

.sumary {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
  justify-content: center;
  font-weight: bold;
}

.button {
  --background: #ce4b4b;
  --background-activated: #ce4b4b;
  --color: white;
}

h1.centered-text {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  font-size: 2.2rem;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.menu-button {
  --background: #ffffff;
  --background-activated: #ecdfdf;
  --color: #ce4b4b;
  font-size: 1.2rem;
  padding: 0.75rem 1.2rem;
  border: none;
  box-shadow: none;
}

.white-button {
  --background: #ffffff;
  --color: #ce4b4b;
}

.content-wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.menu-section {
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;

  .menu-title {
    font-size: 1.5rem;
    color: #ce4b4b;
    margin-bottom: 0.5rem;
  }

  .menu-subtitle {
    font-size: 1.3rem;
    color: #ce4b4b;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .menu-description {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
    text-align: justify;
  }

  .menu-image {
    width: 100%;
    border-radius: 10px;
  }
}

.bottom-button {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.next-button {
  --background: #ce4b4b;
  --color: white;
  --border-radius: 50px;
  padding: 0.75rem 1.2rem;
  font-size: 1.2rem;
}
