ion-content.gradient-background {
    --background: none; // Remove o fundo padrão do ion-content, se necessário
    display: flex;
    justify-content: center; // Centraliza o conteúdo horizontalmente
    align-items: center; // Centraliza o conteúdo verticalmente
    height: 100vh; // Garante que a altura ocupe a tela inteira
    background: linear-gradient(to bottom, #0c9280, #ffffff); // Gradiente de #2EBFAC para branco
  }
  