<ion-content class="backgroundG">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button class="button" (click)="accessMenu()">
          <ion-icon name="arrow-undo-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Galeria</ion-title>
      <ion-buttons slot="end">
        <ion-button class="button" (click)="alertaInfo()">
          <ion-icon slot="icon-only" name="help-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <h1 class="centered-text">O que podemos fazer aqui?</h1>

  <div class="button-group">
    <ion-button class="menu-button white-button" (click)="alertaPaginaAtual()">Imagens</ion-button>
    <ion-button class="menu-button white-button" (click)="accessAlbuns()">Álbuns</ion-button>
  </div>


  <div class="menu-section">
    <h2 class="menu-title">Sumário Imagens</h2>
    <p class="menu-description">
      Nesta página serão abordados os seguintes tópicos: <br></p>
    <p class="sumary">
      1. Menus<br>
      2. Imagens<br>
      3. Selecionando Imagens<br>
      4. Compartilhando Imagens<br>
      5. Excluindo Imagens<br>
      6. Mais Opções
    </p>
  </div>

  <div class="menu-section">
    <h2 class="menu-title">1 - Menus</h2>
    <img src="/assets/galeria/1_Menu.jpg" alt="Menu Image" class="menu-image">

    <p class="menu-description">
      Na primeira tela após abrir a galeria você pode visualizar os seguintes menus: "Imagens" (A) e "Álbuns" (B).
    </p>

  </div>

  <div class="menu-section">
    <h2 class="menu-title">2 - Imagens</h2>

    <img src="/assets/galeria/2_Imagens.jpg" alt="Imagens" class="menu-image">

    <p class="menu-description">
      Ao acessar o menu de imagens, no centro da tela você poderá visualizar todas a fotos salvas no seu aparelho e suas
      datas correspondentes.
    </p>

  </div>

  <div class="menu-section">
    <h2 class="menu-title">3 - Selecionando Imagens</h2>

    <img src="/assets/galeria/3_SelecImagens.jpg" alt="Imagens" class="menu-image">

    <p class="menu-description">
      Ao manter pressionado o dedo na imagem desejada, você irá selecionar a mesma, podendo assim selecionar outras
      imagens
      (ou somente uma) para depois escolher
      uma ação desejada, como: "Compartilhar" (A), "Excluir"(B) e "Mais"(C), marcados na imagem a seguir:
    </p>

  </div>

  <div class="menu-section">
    <h2 class="menu-title">4 - Compartilhando Imagens</h2>

    <img src="/assets/galeria/4_Compartilhar.jpg" alt="Imagens" class="menu-image">

    <p class="menu-description">
      Ao selecionar a(s) imagem(s) desejada(s) e pressionar o botão de compartilhar, o celular mostrará a(s) imagem(s)
      selecionada(s), seus contatos recentes para enviar
      a(s) imagem(s) (A) e os aplicativos para você compartilhar a(s) imagem(s) (B).
      Após selecionar o aplicativo que deseja encaminhar a(s) imagem(s), o celular abrirá o aplicativo
      correspondente.
    </p>
  </div>

  <div class="menu-section">
    <h2 class="menu-title">5 - Excluindo Imagens</h2>
    <p class="menu-description">
      Ao seleciar a(s) imagem(s) desejada(s) e pressionar o botão de excluir, aparecerá a seguinte mensagem.
    </p>
    <img src="/assets/galeria/2_3_ExcluIMG.jpg" alt="Imagens" class="menu-image">
    <p class="menu-description">Pressionando a opção "Mover para a Lixeira", a(s) imagem(s) serão movidas para a
      lixeira,
      onde serão excluidas automaticamente após 30 dias.</p>
  </div>

  <div class="menu-section">
    <h2 class="menu-title">6 - Mais Opções</h2>
    <p class="menu-description">
      Pressionando a opção "Mais", aparecerá um menu com várias opções possíveis.
    </p>
    <h3 class="menu-subtitle">Copiar p/ área de transf.:</h3>
    <p class="menu-description">Copia a(s) imagem(s), possibilitando colar a(s) imagem(s) em outro lugar.</p>
    <img src="/assets/galeria/2_4_AreaTransf.jpg" alt="Imagens" class="menu-image">

    <h3 class="menu-subtitle">Copiar para o álbum:</h3>
    <p class="menu-description">Possibilita criar uma cópia da(s) imagem(s) em algum álbum já criado.</p>
    <img src="/assets/galeria/2_4_CopiaAlbum.jpg" alt="Imagens" class="menu-image">

    <h3 class="menu-subtitle">Mover para o álbum:</h3>
    <p class="menu-description">Move a(s) imagem(s) selecionada para um álbum já criado, sem criar cópias.</p>
    <img src="/assets/galeria/2_4_MoveAlbum.jpg" alt="Imagens" class="menu-image">

    <h3 class="menu-subtitle">Definir como papel de parede:</h3>
    <p class="menu-description">Define a(s) imagem(s) selecionada como plano de fundo do celular, podendo ser o plano da
      tela de bloqueio, tela inicial ou ambas.</p>
    <img src="/assets/galeria/2_4_DefinirParede.jpg" alt="Imagens" class="menu-image">
  </div>

  <div class="bottom-button">
    <ion-button class="next-button" (click)="accessAlbuns()">Álbuns
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>