<ion-content class="backgroundC">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button class="button" (click)="accessMenu()">
          <ion-icon name="arrow-undo-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Calendário</ion-title>
      <ion-buttons slot="end">
        <ion-button class="button" (click)="alertaInfo()">
          <ion-icon slot="icon-only" name="help-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <h1 class="centered-text">O que podemos fazer aqui?</h1>

  <div class="button-group">
    <ion-button class="menu-button white-button" (click)="alertaPaginaAtual()">Calendário</ion-button>
    <ion-button class="menu-button white-button" (click)="accessPage2()">Lembretes</ion-button>
  </div>

  <div class="menu-section">
    <h2 class="menu-title">Sumário Calendário</h2>
    <p class="menu-description">
      Nesta página serão abordados os seguintes tópicos: <br></p>
    <p class="sumary">
      1. Configurações<br>
      2. Modelos de Calendários<br>
      3. Agenda<br>
      4. Barra de Pesquisa<br>
    </p>
  </div>

  <div class="menu-section">
    <h2 class="menu-title">1 - Configurações</h2>
    <p class="menu-description">
      Primeiramente, para acessar a aba de configurações, clique no menu lateral do calendário no canto superior
      esquerdo de sua tela (A).
    </p>
    <img src="/assets/calendario/1_MenuCalendario.jpg" alt="Imagens" class="menu-image">
    <p class="menu-description">Após acessar o menu, clique no símbolo de uma "Engrenagem" (B), assim como a figura
      abaixo:</p>
    <img src="/assets/calendario/Engrenagem_Calendario.jpg" alt="Imagens" class="menu-image">
    <p class="menu-description">No menu de configurações você podera editar o formato do seu calendário de acordo com o
      seu gosto, como mostra a figura a seguir:</p>
    <img src="/assets/calendario/ConfigCalendario.jpeg" alt="Imagens" class="menu-image">
    <p class="menu-subtitle">Alterar Estilo do Calendário</p>
    <p class="menu-description">
      Neste subtópico será explicado através de imagens possíveis alterações nas configurações do calendário, como por
      exemplo o tamanho da fonte do título dos eventos e a estilização de suas respectivas cores.
    </p>
    <img src="/assets/calendario/AlterarEstiloCalendario.jpg" alt="Imagens" class="menu-image">
    <img src="/assets/calendario/EstiloCalendario.jpg" alt="Imagens" class="menu-image">

  </div>

  <div class="menu-section">
    <h2 class="menu-title">2 - Modelos de Calendários</h2>


    <p class="menu-description">
      Ao acessar o menu lateral no canto superior esquerdo da tela, você poderá selecionar o formato de visualização do
      calendário que desejar, assim como as imagens abaixo.
    </p>
    <img src="/assets/calendario/1_1Datas.jpg" alt="Imagens" class="menu-image">
    <p class="menu-subtitle">
      Separação por Ano
    </p>
    <img src="/assets/calendario/Ano.jpeg" alt="Imagens" class="menu-image">
    <p class="menu-subtitle">
      Separação por Mês
    </p>
    <img src="/assets/calendario/Mes.jpeg" alt="Imagens" class="menu-image">
    <p class="menu-subtitle">
      Separação por Semana
    </p>
    <img src="/assets/calendario/Semana.jpeg" alt="Imagens" class="menu-image">
    <p class="menu-subtitle">
      Separação por Dia
    </p>
    <img src="/assets/calendario/Dia.jpeg" alt="Imagens" class="menu-image">
  </div>

  <div class="menu-section">
    <h2 class="menu-title">3 - Agenda</h2>
    <p class="menu-description">
      Ao abrir o menu lateral e selecionar o menu "Agenda", você poderá visualizar os eventos que estão por vir e que já
      foram, além dos lembretes criados
    </p>
    <img src="/assets/calendario/2_Agenda.jpg" alt="Imagens" class="menu-image">
    <img src="/assets/calendario/2_1AgendaAberta.jpeg" alt="Imagens" class="menu-image">
  </div>

  <div class="menu-section">
    <h2 class="menu-title">4 - Barra de Pesquisa</h2>
    <p class="menu-description">
      Para abrir a barra de pesquisa, procure no canto superior direito da tela o ícone de uma "Lupa", assim como o da
      figura a seguir.
    </p>
    <img src="/assets/calendario/3_Lupajpg.jpg" alt="Imagens" class="menu-image">
    <p class="menu-description">Após clicar na "Lupa", você poderá pesquisar várias coisas, como feriados, datas
      comemorativas e lembretes criados. Aqui está uma imagem usando o Dia das Mães como exemplo:</p>
    <img src="/assets/calendario/3_BarraPesquisa.jpg" alt="Imagens" class="menu-image">
  </div>


  <div class="bottom-button">
    <ion-button class="next-button" (click)="accessPage2()">Lembretes
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>